@model List<Category>
<partial name="_Notifications" />
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn-primary bg-dark text-light p-3 rounded-3 text-decoration-none">Create new Category <i class="bi bi-plus-lg"></i></a>
        </div>
    </div>

<table class="table table-bordered table-striped">
    <thead>
    <tr class="col text-center  ">
        <th>Category Name</th>
        <th>Display Order</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var i in Model.OrderByDescending(u => u.DisplayOrder))
        {
            <tr class="col text-center">
                <td>@i.Name</td>
                <td>@i.DisplayOrder</td>
                <td>
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@i.Id" class="btn btn-primary rounded-2">
                        <i class="bi bi-pencil"></i> Edit
                    </a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@i.Id" class="btn btn-danger rounded-2">
                        <i class="bi bi-trash"></i> Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</div>
</table>